<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>
<body>
    <h1 id="title">장애인 고용 정보 검색</h1>
    <div id="search-section" class="section">
        <select id="type" name="검색타입" class="select-type">
            <option value="사업장명">사업장 명</option>
            <option value="사업장 주소">사업장 주소</option>
            <option value="모집직종">모집 직종</option>
            <option value="임금형태">임금 형태</option>
        </select>
        <input id="keyword" type="text" name="keyword" placeholder="검색어를 입력하세요">
        <button id="search-button" type="button" onclick="search()"></button>
    </div>
    <div id="data-section" class="section">
        <div id="data-count">

        </div>
        <table id="data-table">
            <thead>
                <tr>
                    <th>모집 직종</th>
                    <th>요구 경력</th>
                    <th>사업장 주소</th>
                    <th>고용 형태</th>
                    <th>사업장 명</th>
                    <th>임금 형태</th>
                    <th>임금</th>
                    <th>기업 형태</th>
                    <th>모집 기간</th>
                </tr>
            </thead>
            <tbody id="data-list"></tbody>
        </table>
    </div>
    <script src="js/main.js"></script>
</body>
</html>